<div class="container-fluid heading Map">
    <h1>Know Your W<img class="globe" src="./assets/globe.png">RLD</h1>
    <br>
</div>


<div class="container-fluid back" style="text-align: center">
    <div class="row">
        <div class="col-md-6">
            <br>
            <a [routerLink]="['/']" class="btn btn-outline-dark">Home</a>
        </div>
        <div class="col-md-6">
            <br>
            <button type="button" class="btn btn-outline-dark" (click)=goBackToPreviousLocation()>Go Back</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>


<footer class="footer" style="background-color:rgb(119, 106, 106); color:white;">
    <div class="container text-center">
        <span>&copy; Copyright 2021. All Rights Reserved.</span>
    </div>
</footer>