.heading{
    background: lightcoral;
    color:white;
    font-family: inherit;
    text-align: center;
}

.Map{
    background-image: url("/assets/Map.jpg");
}

.back{
    background: lightcoral;
}

.globe{
    height: 120px;
    width:120px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.globe:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}