.heading{
    background: lightcoral;
    color:white;
    font-family: inherit;
    text-align: center;
}

.Map{
    background-image: url(https://i.pinimg.com/originals/9d/eb/08/9deb08cbac490f5fa43032499f61c581.jpg);
}

.back{
    background: lightcoral;
}

.globe{
    height: 120px;
    width:120px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.globe:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}